.App{
  width: 500px;
  background-color: darkblue;
  margin: 50px auto;
  padding: 50px 30px;
  color: #fff;
  font-size: 16px;
}

.result{
  padding: 15px;
  background-color: steelblue;
  margin-bottom: 50px;
}

.inputs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}